
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(218, 145, 10);
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #d3102a;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}


.section {
    padding: 25px 0;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}


.portfolio-item {
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(131, 21, 204, 0.1);
}

.portfolio-item h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.portfolio-item p {
    font-size: 1.1rem;
}


form {
    max-width: 600px;
    margin: auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #06e663;
    color: #da1010;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
